p {
  font-size:0.8em;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

h1 {
  border-style:solid;
  border-width:0 0 1px;
  margin-top:0px;
  margin-bottom:20px;  
  color:#0060A0;
  border-color:#0040A0;
  font-size:1.0em;
  font-family:verdana,sans-serif;
}

.logo {
  margin-bottom:0px;
  margin-left:0px;
  border-style:none;
}

div,#error_message {
  color:#A00000;
}